.wrapper {
  background-color: #fff;
}
.btn-wrapper {
  all: unset;
}
.editor {
  border-radius: 4px;
  :global {
    .suggest-widget {
      left: 2px !important;
      width: 240px !important;
    }
  }
}
.button {
  cursor: pointer;
  display: block;
  width: 100%;
  text-align: center;
  border: none;
  height: 26px;
  line-height: 26px;
  border-radius: 3px;
  background-color: #f9f9f9;
  box-shadow: 0 1px 4px -1px #777;
}
.toolbar {
  position: absolute;
  top: 3px;
  right: 0;
  display: flex;
  column-gap: 8px;
  .icon {
    svg {
      width: 16px;
      height: 16px;
      path {
        fill: #333;
      }
      &:hover {
        path {
          fill: #fa6400;
        }
      }
    }
    &:hover {
      transform: scale(1);
    }
  }
}

.dialog {
  height: 80vh;
}

.comment {
  height: 80vh;
}
