.align-bar {
  border-radius: 2px;
  background-color: #000;
}
.hover {
  //rgb(250 100 0)
  //background-color: rgba(13, 153, 255, 0.4);
  background-color: rgba(250, 100, 0, 0.4);
}
.selected {
  //#FA6400
  background-color: #FA6400;
}
.point {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: #aaa;
}
