.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.selected {
  background-color: #efefef;
  border-radius: 2px;
  border: 1px solid transparent;
}
.unselected {
  width: 24px;
  height: 24px;
  .flex-center;
}
.justifyWrap {
  display: flex;
  justify-content: flex-start;
  column-gap: 4px;
  .svgWrapper {
    cursor: pointer;
    .unselected;
  }
  .justifyContent-select {
    .selected;
  }
}
.wrap {
  cursor: pointer;
  .unselected;
  margin-top: 4px;
}