@import "../../theme.less";

.listSetter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid @boder-color;
  border-radius: @border-radius;
  background: #fff;
  overflow: hidden;
  //padding: 1px 0;

  .btnGroup {
    display: flex;

    .btn {
      .button-base();
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      //outline-width: unset;
      //outline-style: unset;
      //outline-offset: unset;
      //border-bottom: 1px solid #F5F5F5;

      background: #f5f5f5;
      margin: 2px;

      span {
        font-size: 16px;
        margin-right: 5px;
        margin-top: -3px;
        color: #aaa;
      }

      &:hover {
        background: #f5f5f5;
      }

      &:last-child {
        border-bottom-right-radius: 0;
      }

      &:first-child {
        border-bottom-left-radius: 0;
      }
    }
  }
  // .btnAdd {
  //   .button-base();
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  //   //outline-width: unset;
  //   //outline-style: unset;
  //   //outline-offset: unset;
  //   //border-bottom: 1px solid #F5F5F5;
  //   border-bottom-left-radius: 0;
  //   border-bottom-right-radius: 0;
  //   background: #f5f5f5;
  //   margin: 2px;

  //   span {
  //     font-size: 16px;
  //     margin-right: 5px;
  //     margin-top: -3px;
  //     color: #aaa;
  //   }

  //   &:hover {
  //     background: #f5f5f5;
  //   }
  // }

  .content {
    //padding-top: 2px;
    display: flex;
    flex-direction: column;
    gap: 2px;

    &:empty {
      padding-top: 0;

      //&:after {
      //  content: '数据为空';
      //  color: #999;
      //  font-style: italic;
      //  display: block;
      //  text-align: center;
      //}
    }
  }
}

.listItemSelect {
  cursor: pointer;

  //&:hover {
  //  border: 1px solid #DDD
  //}

  &.active {
    border: 1px solid @color-primary;
  }
}

.listItem {
  width: 100%;
  //background-color: hsl(0, 0%, 97%);
  background: #fff;
  border: 1px solid transparent;
  //margin-bottom: 10px;
  //border-radius: 4px;

  &:hover {
    background-color: #f5f5f5;
  }

  .listItemCard {
    .itemTitle {
      color: #555;
      padding-bottom: 3px;
      line-height: 12px;
      margin: 0;
    }

    .item {
      font-size: 12px;
      padding-bottom: 10px;

      &:last-child {
        padding-bottom: 0px;
      }
    }

    &:hover {
      .btns {
        display: flex;
      }
    }
  }

  .listItemCardTop {
    width: 100%;
    height: 26px;
    //padding-right: 7px;
    font-size: 12px;
    //border-radius: 3px;
    display: flex;
    align-items: center;
    padding-right: 5px;
  }

  .grab {
    cursor: move;
    display: flex;
    align-items: center;
    height: 22px;
    padding-left: 7px;
    margin-top: -2px;
    margin-right: -3px;
    //margin: 3px 0 3px 3px;
    //padding: 0 2px;

    svg {
      height: 10px;
      fill: #bbb;
    }

    //&:hover {
    //  background-color: rgba(0, 0, 0, 0.05);
    //  border-radius: 1px;
    //}
  }

  .listItemBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: @border-radius;

    //margin-left: 3px;
    cursor: pointer;

    svg {
      fill: #555;
      max-width: 11px;
      max-height: 11px;
    }
  }

  .visible {
    .listItemBtn();

    > * {
      height: fit-content;
      display: inline-flex;
    }
  }

  .delete {
    .listItemBtn();

    height: 22px;
    width: 22px;

    &:hover {
      background-color: transparent;

      svg {
        fill: @color-primary;
      }
    }
  }

  .edit {
    .listItemBtn();

    height: 22px;
    width: 22px;

    &:hover {
      background-color: #ccc;
    }
  }

  .editActive {
    .listItemBtn();
    margin-top: 3px;
    margin-bottom: 3px;
    height: 22px;
    width: 22px;
    align-items: center;
    justify-content: center;
    border-radius: @border-radius;
    background-color: @color-primary;

    &:hover {
      background: @color-primary;
    }

    svg {
      fill: #fff;
    }
  }

  .listItemContent {
    //margin-left: 3px;
    padding-left: 10px;
    flex: 1;
    height: 100%;
    overflow: hidden;
    white-space: nowrap;
    display: flex;
  }

  .btns {
    display: none;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    gap: 3px;
  }
}

.tag {
  height: 16px;
  background: @color-primary;
  font-size: 10px;
  font-weight: bold;
  color: #fff;
  font-style: italic;
  padding: 0 5px 2px 5px;
  border-radius: 5px;
  margin-left: 3px;
}

.titles {
  height: 100%;
  display: flex;
  align-items: center;
  line-height: 14px;
  color: #777;

  > img {
    height: 70%;
    width: 20px;
    object-fit: contain;
    margin-right: 3px;
  }

  > p {
    margin: 0 3px 0 0;
  }
}

.titlesHeavy {
  color: #333;
  font-weight: 700;
  height: 36px;
  padding: 5px 15px;
  //border-bottom: 1px solid #EEE;
}

.drawerWrapper {
  transform: none !important;
  margin-right: -1px;
  position: absolute !important;
  transition: none !important;
  width: 330px !important;
}

.itemTitle {
  color: #555;
  padding-bottom: 3px;
  line-height: 12px;
  padding-top: 3px;
}

.item {
  font-size: 12px;
  padding-bottom: 20px;

  
}

.itemDesc {
  display: flex;
  align-items: flex-start;
  padding-bottom: 3px;

  .description {
    display: flex;
    height: 100%;
    margin-left: 5px;
    opacity: 0.4;
    font-size: 12px;

    svg {
      width: 12px;
    }
  }
}

.batchEditorWrapper {
  
  .item{
    padding-bottom: 0;
  }

  :global{
    .ant-table.ant-table-small{
      font-size:12px;
    }
  }
}
