.preview {
  height: 12px;
  margin-bottom: 6px;
}
.top {
  display: flex;
  align-items: center;
  justify-items: center;
  height: 30px;
  padding: 3px 0;

  .radioGroup {
    flex: 3;

    label {
      background-color: #efefef;
    }
  }
  svg {
    cursor: pointer;
  }
}

.stops {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;

  .disabled {
    opacity: 0.5;
    svg {
      cursor: not-allowed;
    }
    cursor: not-allowed;
  }

  svg {
    cursor: pointer;
  }
}