.titleContainer {
  line-height: 18px;
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;

  &:hover {
    .actions {
      visibility: visible;
    }
  }

  .title {
    width: 100%;
    display: flex;
    color: #415058;
    overflow: hidden;
    white-space: nowrap;
    align-items: center;
    padding-left: 3px;

    .preview {
      color: #999999;
      overflow: hidden;
      margin-left: 4px;
      font-weight: normal;
      text-overflow: ellipsis;
    }

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      transition: transform 0.2s ease-in-out 0s;
      margin-right: 2px;
    }

    .iconOpen {
      transform: rotate(90deg);
    }
  }

  .tips {
    font-style: italic;
    margin-left: 10px;
    color: #aaa;
  }

  .actions {
    display: flex;
    align-items: center;
    color: #555;
    visibility: hidden;

    .icon {
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      svg {
        height: 12px;
        width: 12px;
      }

      &:first-child {
        margin-right: 4px;
      }

      &:not(:first-child) {
        margin-left: 4px;
        margin-right: 4.5px;
      }
    }
  }
}

.codeWrap {
  :global {
    .suggest-widget {
      left: 2px !important;
      width: 100% !important;
    }
  }
}

.inlineWrap {
  background-color: #fff;
  border-radius: 4px;
  height: 100%;

  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px;
    border-bottom: 1px solid #efefef;

    .title {
      font-weight: 500;
      font-size: 14px;
    }

    .plus {
      cursor: pointer;

      &:hover {
        color: #1890ff;
      }
    }
  }

  .body {
    height: 100%;
    padding: 0px;
    height: 300px;
    position: relative;

    .plus {
      position: absolute;
      top: 1px;
      right: 4px;
      z-index: 1;
      cursor: pointer;

      &:hover {
        color: #f86508;
      }
    }
  }
}

.modal {
  height: 100%;
  padding: 40px 0;
}

.popupTips {
  position: absolute;
  background-color: rgb(64 169 255 / 70%);
}
