@import "../theme.less";

.textArea {
  position: relative;

  :global {
    .ant-input {
      overflow-y: auto !important;
      // resize: none;
      font-size: 12px;
      height: 26px;
      background: #F5F5F5;
      border: none;
      transition: none;
    }

    .ant-input:hover {
      border-color: #DDD;
      outline: 1px solid #DDD;
    }

    .ant-input-focused,
    .ant-input:focus {
      outline: 1px solid @color-primary;
      //-webkit-box-shadow: var(--box-shadow);
      //box-shadow: var(--box-shadow);
    }

    .ant-input[disabled] {
      color: rgba(0, 0, 0, 0.85);
      background-color: #fff;
      cursor: default;
    }

    .ant-input[disabled]:hover {
      border-color: #d9d9d9;
    }
  }
}

.vCenter {
  display: flex;
  //align-items: center;
  background: #ffffff;
  outline: 2px solid @color-primary;
  border-radius: @border-radius;
  overflow: hidden;

  textarea {
    //height: fit-content !important;
    //line-height: 1;
    //text-align: center;
    border: none;
    outline: none;
    box-shadow: none !important;
    //padding: 5px;
    //padding: 10px 0 0 0 !important;
    resize: none;
    height: auto;
    width: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: scroll;
    //padding: 5px;
    //line-height: 1;

    &::-webkit-scrollbar {
      display: none
    }

    &:active {
      border: none !important;
      outline: none !important;
    }

    &:focus-visible {
      border: none !important;
      outline: none !important;
    }
  }
}

.useLocale {
  path {
    fill: @color-primary;
  }
}

.icon {
  cursor: pointer !important;
  position: absolute;
  top: 5px;
  right: 5px;
}