@import "../theme.less";

.textArea {
  position: relative;

  :global {
    .ant-input {
      overflow-y: auto !important;
      // resize: none;
      font-size: 12px;
      height: 26px;
      background: #FFFFFF;
      border: 1px solid #D9D9D9;
      border-radius: 4px;
      transition: none;
    }

    .ant-input:hover {
      border-color: @color-primary;
      outline: none;
      //outline: 1px solid @color-primary;;
    }

    .ant-input-focused,
    .ant-input:focus {
      border-color: @color-primary;
      outline: none !important;
      box-shadow: none !important;
      //outline: 1px solid @color-primary;
      //-webkit-box-shadow: var(--box-shadow);
      //box-shadow: var(--box-shadow);
    }

    .ant-input[disabled] {
      color: rgba(0, 0, 0, 0.85);
      background-color: #fff;
      cursor: default;
    }

    .ant-input[disabled]:hover {
      border-color: #d9d9d9;
    }
  }
}

.vCenter {
  display: flex;
  align-items: center;
  background: #ffffff;
  outline: 2px solid @color-primary;
  border-radius: @border-radius;
  overflow: hidden;

  textarea {
    //height: fit-content !important;
    //line-height: 1;
    //text-align: center;
    border: none;
    outline: none;
    box-shadow: none !important;
    padding: 2px 0 0 5px;
    //padding: 10px 0 0 0 !important;
    resize: none;
    width: 100%;
    //line-height: 1;

    &:active {
      border: none !important;
      outline: none !important;
    }

    &:focus-visible {
      border: none !important;
      outline: none !important;
    }
  }
}

.useLocale {
  path {
    fill: @color-primary;
  }
}

.icon {
  cursor: pointer !important;
  position: absolute;
  top: 5px;
  right: 5px;
}