@import "../theme.less";

.editor-textArea {
  position: relative;
  :global {
    .ant-input {
      overflow-y: auto !important;
      color: @font-color-content;
      background-color: @bg-color-main;
      border-color: @boder-color;
      // resize: none;
      font-size: 12px;
      padding: 4px 6px;
      height: 26px;
    }

    .ant-input:hover {
      border-color: @color-primary;
    }

    .ant-input-focused,
    .ant-input:focus {
      border-color: @color-primary;
      -webkit-box-shadow: var(--box-shadow);
      box-shadow: var(--box-shadow);
    }

    .ant-input[disabled] {
      color: @font-color-content;
      background-color: @bg-color-main;
      cursor: default;
    }

    .ant-input[disabled]:hover {
      border-color: @boder-color;
    }
  }
}

.useLocale {
  path {
    fill: @color-primary;
  }
}
.icon {
  position: absolute;
  top: 5px;
  right: 5px;
}