.layout {
  display: flex;
  justify-content: space-between;
  .left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    row-gap: 5px;
  }
  .right {
    width: 150px;
    height: 150px;
  }
}